@import "tailwindcss";

@layer base {
  @font-face {
    font-family: 'Radikal';
    src: url('/font/Radikal Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family:'Roboto', sans-serif;
  }
}
